/*----------- ALL ----------*/

body {
  margin: 0;
}

h1 {
  font-size: 40px;
  color: white;
  text-transform: uppercase;
}

h2 {
  font-size: 2em;
  color: white;
}

p {
  color: white;
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: inherit;
}

/*----------- HEADER ----------*/

header {
  background-color: #382624;
  .home-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    .burger img {
      width: 25px;
      height: auto;
    }

    input[type="checkbox"] {
      display: none;
    }

    .menu {
      display: none;
      position: absolute;
      top: 45px;
      left: 0;
      background-color: #382624;
      padding: 12px 14px;
      flex-direction: column;
      gap: 12px;
      list-style: none;
      padding: 0;
    }

    .menu a {
      color: white;
      text-decoration: none;
      font-weight: 700;
    }

    .burger {
      cursor: pointer;
    }

    .menu a:hover {
      font-size: 1.2em;
    }

    nav {
      position: relative;
    }

    #LogoHeader {
      width: 40px;
    }
    a img {
      width: 25px;
    }
    #menu-toggle:checked ~ .menu {
      display: flex;
    }
  }

  #ButtonAbo {
    background-color: #aa2309;
    color: white;
    font-weight: 700;
    padding: 10px 15px;
    border: none;
    border-radius: 7px;
  }
  #ButtonTry {
    background-color: #00000022;
    color: white;
    font-weight: 700;
    padding: 10px 15px;
    border: none;
    border-radius: 7px;
  }
}

/*----- HEROSECTION -----*/

.HeroSectionRace {
    background-image: url(/assets/img/pages-race/wallpaper_world_of_warcraft_wrath_of_the_lich_king_classic_01_1920x1080.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: fit-content;
    text-align: center;
    align-content: center;
}

.HeroSectionRaceTitle{
    padding: 0px 60px;
    text-shadow: 0 0 12px black;
}
.HeroSectionRaceTitle p{
    font-size: 1.5em;
    text-shadow: 0 0 12px black;
}


/*--------------------------- RESPONSIVE TABLETTE -----*/

/*----- HEROSECTION -----*/

@media screen and (min-width: 768px) {

}